# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/
build/
generated/
prisma/seed.ts

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional REPL history
.node_repl_history

# OS metadata
.DS_Store
Thumbs.db
